# Node modules
node_modules/

# Environment files
.env
.env.local
.env.development
.env.production
.env.test

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor settings
.vscode/
.idea/
.DS_Store

# Build output
.next/
dist/
build/

# Misc
*.pid
